@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../.flowbite-react/class-list.json';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@plugin 'daisyui';
@source "../node_modules/flowbite";

@theme inline {
  --color-app-blue: #000099;
  --color-app-blue-50: color-mix(in srgb, var(--color-app-blue) 50%, white);
  --color-app-blue-100: color-mix(in srgb, var(--color-app-blue) 60%, white);
  --color-app-blue-200: color-mix(in srgb, var(--color-app-blue) 70%, white);
  --color-app-blue-300: color-mix(in srgb, var(--color-app-blue) 80%, white);
  --color-app-blue-400: color-mix(in srgb, var(--color-app-blue) 90%, white);
  --color-app-blue-500: var(--color-app-blue);
  --color-app-blue-600: color-mix(in srgb, var(--color-app-blue) 90%, black);
  --color-app-blue-700: color-mix(in srgb, var(--color-app-blue) 80%, black);
  --color-app-blue-800: color-mix(in srgb, var(--color-app-blue) 70%, black);
  --color-app-blue-900: color-mix(in srgb, var(--color-app-blue) 60%, black);
  --color-app-blue-950: color-mix(in srgb, var(--color-app-blue) 50%, black);

  --color-app-yellow: #ffcc00;
  --color-app-yellow-50: color-mix(in srgb, var(--color-app-yellow) 50%, white);
  --color-app-yellow-100: color-mix(in srgb, var(--color-app-yellow) 60%, white);
  --color-app-yellow-200: color-mix(in srgb, var(--color-app-yellow) 70%, white);
  --color-app-yellow-300: color-mix(in srgb, var(--color-app-yellow) 80%, white);
  --color-app-yellow-400: color-mix(in srgb, var(--color-app-yellow) 90%, white);
  --color-app-yellow-500: var(--color-app-yellow);
  --color-app-yellow-600: color-mix(in srgb, var(--color-app-yellow) 90%, black);
  --color-app-yellow-700: color-mix(in srgb, var(--color-app-yellow) 80%, black);
  --color-app-yellow-800: color-mix(in srgb, var(--color-app-yellow) 70%, black);
  --color-app-yellow-900: color-mix(in srgb, var(--color-app-yellow) 60%, black);
  --color-app-yellow-950: color-mix(in srgb, var(--color-app-yellow) 50%, black);

  --color-app-gray: #646e73;
  --color-app-gray-50: color-mix(in srgb, var(--color-app-gray) 50%, white);
  --color-app-gray-100: color-mix(in srgb, var(--color-app-gray) 60%, white);
  --color-app-gray-200: color-mix(in srgb, var(--color-app-gray) 70%, white);
  --color-app-gray-300: color-mix(in srgb, var(--color-app-gray) 80%, white);
  --color-app-gray-400: color-mix(in srgb, var(--color-app-gray) 90%, white);
  --color-app-gray-500: var(--color-app-gray);
  --color-app-gray-600: color-mix(in srgb, var(--color-app-gray) 90%, black);
  --color-app-gray-700: color-mix(in srgb, var(--color-app-gray) 80%, black);
  --color-app-gray-800: color-mix(in srgb, var(--color-app-gray) 70%, black);
  --color-app-gray-900: color-mix(in srgb, var(--color-app-gray) 60%, black);
  --color-app-gray-950: color-mix(in srgb, var(--color-app-gray) 50%, black);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --height-sm: 320px;
  --height-md: 480px;
  --height-128: 512px;
  --height-lg: 640px;
  --height-180: 720px;
  --height-192: 768px;
  --height-xl: 800px;
  --height-2xl: 960px;

  --spacing-92: 368px;
  --spacing-96: 384px;
  --spacing-124: 496px;
  --spacing-320: 1280px;
  --spacing-360: 1440px;

  --shadow-footer: 0px -8px 8px -4px #0001;
}

@layer base {
  :root {
    font-size: 14px;
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }
  h5 {
    @apply text-xl font-bold;
  }
  h6 {
    @apply text-lg font-bold;
  }
}

@layer utilities {
  .three-line-clamp {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .skeleton {
    background-image: linear-gradient(
      105deg,
      var(--color-gray-100) 0% 40%,
      var(--color-gray-200) 50%,
      var(--color-gray-100) 60% 100%
    );
    background-repeat: repeat;
  }
}

body {
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}
